<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>189164129112-h6joicpd185u5pf0rhrf3eaju1pqjjpk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.189164129112-h6joicpd185u5pf0rhrf3eaju1pqjjpk</string>
	<key>API_KEY</key>
	<string>AIzaSyDYRUNPS2QTYRMpfoaq6swZU6rIDwrA9A0</string>
	<key>GCM_SENDER_ID</key>
	<string>189164129112</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bh.polytechnic.SpendIt301</string>
	<key>PROJECT_ID</key>
	<string>spenditapp-71bbc</string>
	<key>STORAGE_BUCKET</key>
	<string>spenditapp-71bbc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:189164129112:ios:107f7127e55dcec5cd732d</string>
</dict>
</plist>